# Enter your device id, use kdeconnect-cli -a
device=''   

# Rofi Variables
LOCATION=0
YOFFSET=0
XOFFSET=0
WIDTH=12
THEME=solarized

# Color Settings of Icon shown in Polybar
COLOR_DISCONNECTED='#000'       # Device Disconnected
COLOR_BATTERY_90='#fff'         # Battery >= 90
COLOR_BATTERY_80='#ccc'         # Battery >= 80
COLOR_BATTERY_70='#aaa'         # Battery >= 70
COLOR_BATTERY_60='#888'         # Battery >= 60
COLOR_BATTERY_50='#666'         # Battery >= 50
COLOR_BATTERY_LOW='#f00'        # Battery <  50

# Icons shown in Polybar
ICON=''
ICON_DISCONNECTED="%{F$COLOR_DISCONNECTED}"$ICON"%{F-}"

# Don't touch these unless you know what you are 
devicename="$(kdeconnect-cli -a | awk -F'[-|:]' "/$device/"'{print $2}')"
isavail="$(kdeconnect-cli -a | grep "$device.*paired and reachable")"
battery="$(qdbus org.kde.kdeconnect /modules/kdeconnect/devices/$device org.kde.kdeconnect.device.battery.charge)"
