# Enter your device id, use kdeconnect-cli -a
device=''   

# Rofi Variables
LOCATION=0
YOFFSET=0
XOFFSET=0
WIDTH=12
THEME=solarized

# Icons shown in Polybar
ICON_CONNECTED=''
ICON_DISCONNECTED=''

# Don't touch these unless you know what you are 
devicename="$(kdeconnect-cli -a | grep $device | awk -F'[-|:]' '{print $2}')"
isavail="$(kdeconnect-cli -a | grep $device | grep 'paired and reachable')"
battery="$(qdbus org.kde.kdeconnect /modules/kdeconnect/devices/$device org.kde.kdeconnect.device.battery.charge)"
